<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>64124076569-mfb49fs6moubf48qakvg47jl19gkbkh2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.64124076569-mfb49fs6moubf48qakvg47jl19gkbkh2</string>
	<key>API_KEY</key>
	<string>AIzaSyArYwo2TgzIaDN3c6vIIh4hqulzqkQz1D8</string>
	<key>GCM_SENDER_ID</key>
	<string>64124076569</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.travelDairy</string>
	<key>PROJECT_ID</key>
	<string>travel-diary-9994d</string>
	<key>STORAGE_BUCKET</key>
	<string>travel-diary-9994d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:64124076569:ios:dde25d5a4f5ea888bf2088</string>
</dict>
</plist>